* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(214, 197, 142, 0.927);
    background-image: url("../img/fondo-removebg-preview.png");
    background-repeat: no-repeat; 
    background-size: 120%; 
    background-position: center; 
    background-attachment: fixed; 
    color: #3e3022;
}

accessibility {
    position: fixed;
    top: 10px;
    right: 10px;
}

.accessibility button {
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #3e3022;
    z-index: 1000;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #a67c52;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 50px;
}

.nav-item a {
    text-decoration: none;
    color: #a67c52;
    font-size: 1.5em;
}

.nav-item a:hover {
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #a67c52;
    font-size: 1.5em;
    margin-right: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.2em; 
}

.dropdown-content a:hover {
    background-color: #a67c52; 
    color: #fff; 
}

.dropdown:hover .dropdown-content {
    display: block;
}


#hero{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero-container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-container h1 {
    font-size: 3.5rem;
    color: #5c4420;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-container p {
    font-size: 1.5rem;
    color: #fff;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.prestigious-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: #B5823F;
    margin-bottom: 1em;
}


.hero-image {
    max-width: 100%;
    height: auto;
    animation: fadeIn 2s;
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#testimonials {
    padding: 50px 0;
    background: rgba(212, 203, 173, 0.927);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
}

.testimonial-item {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    transition: box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
}

.testimonial-item:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-content {
    font-size: 18px;
    margin-bottom: 20px;
    color: #3e3022;
}

.testimonial-author {
    font-size: 16px;
    font-weight: 600;
    color: #3e3022;
}

.section-title{
    text-align: center;
    margin: 40px 0;
}

.section-title h2 {
    margin-bottom: 0.5em; 
}

.section-subtitle {
    color: #555;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2em;
}

main {
    padding: 20px;
    margin-top: 40px;
}

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.galeria-item {
    position: relative;
    overflow: hidden; 
    border-radius: 5px; 
}

.galeria-imagen {
    width: 100%;
    height: auto;
    transition: transform .5s ease-in-out;
    transform-style: preserve-3d;
}

.galeria-imagen:hover {
    transform: scale(1.1);
}

.galeria-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    backface-visibility: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.galeria-item:hover .galeria-imagen {
    transform: scale(1.1) rotateY(180deg);
}

.galeria-item:hover .galeria-texto {
    opacity: 1;
}

footer{
    background-color: #3e3022;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative ;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 1em;
    border-top: 1px dashed #3e3022;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c0aa62a2;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fc-header-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fc-header-toolbar .fc-toolbar-chunk {
    margin: 0 10px;
}

.fc-button {
    background-color: #a67c52;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.fc-button:hover {
    background-color: #896238;
}

.fc-daygrid-day-number {
    font-weight: bold;
    color: #3e3022;
}

.fc-event-title {
    color: #fff;
}

.fc-event {
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.fc-event:hover {
    opacity: 0.8;
}

.fc-day-today {
    background-color: #e7d4b5 !important;
    color: #3e3022;
    font-weight: bold;
}

/*Responsive*/
@media (max-width: 1024px) {
    /* En pantallas menores o iguales a 1024px */
    
    .hero-container h1 {
        font-size: 2.5rem;
    }

    .hero-container p {
        font-size: 1.2rem;
    }

    .prestigious-text {
        font-size: 1.2rem;
    }

    .galeria-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

}

@media screen and (min-width: 1500px) {
    .galeria-container {
        grid-template-columns: repeat(5, minmax(300px, 1fr));
    }
}

@media (max-width: 480px) {
    /* En pantallas menores o iguales a 480px */

    .hero-container {
        padding: 0 10px;
    }

    .hero-container h1 {
        font-size: 1.5rem;
    }

    .hero-container p {
        font-size: 0.8rem;
    }

    .prestigious-text {
        font-size: 0.8rem;
    }

    .galeria-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

}

@media (max-width: 768px) {
    body{
        background-size: cover; 
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px; /* ajusta según el alto de tu header */
        left: 0;
        background-color: #3e3022; /* mismo color que tu header */
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-icon {
        display: block;
    }

    .navbar-nav.open {
        display: flex;
    }

    .hero-container h1 {
        font-size: 2rem;
    }

    .hero-container p {
        font-size: 1rem;
    }

    .prestigious-text {
        font-size: 1rem;
    }

    .galeria-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .footer {
        padding: 10px 0;
        position: relative;
    }
}